nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10vh;
}

.nav__right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
  font-size: 20px;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  gap: 2em;
}

.nav__right ul li a:hover {
  color: #f35525;
}

.nav__right--1 {
  display: none;
}

@media screen and (max-width: 872px) {
  .nav__right ul li {
    font-size: 1rem;
    display: none;
  }
  .nav__right--1 {
    display: block;
    margin-right: 2em;
  }
  .nav__content {
    width: 100%;
  }
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/hero2.jpg") no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

.hero h1 {
  padding-top: 5em;
  font-size: 3em;
  color: #fff;
}

@media screen and (max-width: 872px) {
  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }
}
.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2em;
}

.introduction h6 {
  color: #f35525;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-orange {
  display: inline-block;
  background-color: #f35525;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.btn-orange a:hover {
  color: #f35525;
}

.btn-orange a:hover i {
  color: #fff;
}

.btn-black {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.btn-black a:hover {
  background-color: #f35525;
  color: #fff;
}

.recyled_products {
  display: flex;
  gap: 3em;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: auto;
  padding: 70px;
  gap: 1em;
  place-items: center;
}

.testimonials__content h4 {
  color: #fff;
}

.testimonials__content p {
  color: #fff;
  font-size: 20px;
}

.testimonials__content img {
  border-radius: 70%;
  width: 50px;
  height: 50px;
}

.TEST {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.testimonials__content {
  background-color: hsl(193, 100%, 9%);
  width: 100%;
  height: 30vh;
}

.footer__section {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 4em 2em;
  margin-top: 50px;
  gap: 2em;
}
.footer__section > div {
  flex: 1;
}
.footer__section--two img {
  display: inline-block;
  margin: 0 0.5em;
}

.email button {
  text-align: center;
  background-color: #f35525;
  padding: 2em 4em;
  border: none;
}

.email {
  background-color: whitesmoke;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.email input {
  flex: 1;
}

.email input {
  padding: 2em 2em;
  border: none;
  outline: none;
}

@media screen and (max-width: 872px) {
  .footer__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .email {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .email input {
    padding: 1rem 3rem;
    font-size: 0.8rem;
    width: 65%;
  }
  .email button {
    padding: 1rem 2rem;
    width: 35%;
  }
}
.signup__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: column;
}
.signup__box form,
.signup__box #inputAppllication {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
  margin-top: 6rem;
  width: 500px;
}
.signup__box form label {
  font-size: 20px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.signup__box form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}
.signup__box .message {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container form {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
  margin-top: 6rem;
  width: 500px;
}
.container form label {
  font-size: 20px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.container form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}
.container .message {
  color: red;
}

.error {
  color: red;
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: column;
}
.application form {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
  margin-top: 6rem;
  width: 500px;
}
.application form label {
  font-size: 20px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.application form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}
.application .error {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}