@use "../../utilities/mixin" as *;
@use "../../utilities/variable" as *;
.introduction {
  @include flex(space-between, center);
  margin-top: 2em;
}
.introduction h6 {
  color: #f35525;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-orange {
  display: inline-block;
  background-color: #f35525;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}
.btn-orange a:hover {
  color: #f35525;
}

.btn-orange a:hover i {
  color: #fff;
}

.btn-black {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

// .card {
//   @include flex(space-evenly, center);
//   gap: 2em;
// }
// .card__header {
//   border-radius: 10px;
//   // background-color:#f35525 ;
//   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
//   padding: 35px 30px;
//   width: 30%;
//   line-height: 3;
//   margin-top: 2em;
// }
.btn-black a:hover {
  background-color: #f35525;
  color: #fff;
}
.recyled_products {
  display: flex;
  gap: 3em;
}

  .testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: auto;
  padding: 70px;
  gap: 1em;
  place-items: center;
}
.testimonials__content h4 {
  color: $white;
}
.testimonials__content p {
  color: $white;
  font-size: 20px;
}
.testimonials__content img {
  border-radius: 70%;
  width: 50px;
  height: 50px;
}
.TEST{
  align-items: center;
  @include flex(center,center)
  
}
.testimonials__content {
  background-color: $Very-Dark-Cyan;
  width: 100%;
  height: 30vh;
}

.footer__section {
  background-color: black;
  color: white;
  @include flex(space-between, center);
  padding: 4em 2em;
  margin-top: 50px;
  gap: 2em;

  & > div {
    flex: 1;
  }

  &--two {
    img {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}
.email button {
  text-align: center;
  background-color: #f35525;
  padding: 2em 4em;
  border: none;
}
.email {
  background-color: whitesmoke;
  border: none;
  @include flex(space-between, center);
  input {
    flex: 1;
  }
}
.email input {
  padding: 2em 2em;
  border: none;
  outline: none;
}

@media screen and (max-width: 872px) {
  .footer__section {
    @include flex(space-around, center, column);
    gap: 2rem;
  }
  .email {
    width: 100%;
    margin: 0 auto;
    @include flex(center, center);
  }
  .email input {
    padding: 1rem 3rem;
    font-size: 0.8rem;
    width: 65%;
  }
  .email button {
    padding: 1rem 2rem;
    width: 35%;
  }
}
